Package: com.maximehip.landia
Name: Landia
Depends: mobilesubstrate, firmware (>= 8.0)
Architecture: iphoneos-arm
Description: An awesome Cydia Substrate tweak!
Author: maximehip
Section: Tweaks
Version: 0.0.1-48
Installed-Size: 200
